<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Factyfodd_home"
        tools:targetApi="31">
        <activity
            android:name=".trendingseis"
            android:exported="false" />
        <activity
            android:name=".trendingcinco"
            android:exported="false" />
        <activity
            android:name=".trendingcuatro"
            android:exported="false" />
        <activity
            android:name=".trendingtres"
            android:exported="false" />
        <activity
            android:name=".trendingdos"
            android:exported="false" />
        <activity
            android:name=".trendinguno"
            android:exported="false" />
        <activity
            android:name=".newrecipeseis"
            android:exported="false" />
        <activity
            android:name=".newrecipecinco"
            android:exported="false" />
        <activity
            android:name=".newrecipecuatro"
            android:exported="false" />
        <activity
            android:name=".newrecipetres"
            android:exported="false" />
        <activity
            android:name=".newrecipedos"
            android:exported="false" />
        <activity
            android:name=".newrecipeuno"
            android:exported="false" />
        <activity
            android:name=".comunidaddos"
            android:exported="false" />
        <activity
            android:name=".item_layout"
            android:exported="false" />
        <activity
            android:name=".comunidaduno"
            android:exported="false" />
        <activity
            android:name=".comunidad"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".social"
            android:exported="false" />
        <activity
            android:name=".comunity"
            android:exported="false" />
        <activity
            android:name=".news"
            android:exported="false"
            android:label="@string/title_activity_news"
            android:theme="@style/Theme.Factyfodd_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".hamburguesas"
            android:exported="false" />
        <activity
            android:name=".snacks"
            android:exported="false" />
        <activity
            android:name=".pizza"
            android:exported="false" />
        <activity
            android:name=".carne"
            android:exported="false" />
        <activity
            android:name=".bebidas"
            android:exported="false" />
        <activity
            android:name=".pescados"
            android:exported="false" />
        <activity
            android:name=".Sopa"
            android:exported="false" />
        <activity
            android:name=".Vegetales"
            android:exported="false" />
        <activity
            android:name=".Pasta"
            android:exported="false" />
        <activity
            android:name=".Arroz"
            android:exported="false" />
        <activity
            android:name=".trending"
            android:exported="false" />
        <activity
            android:name=".NuevasRecetas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>